<!DOCTYPE html>
<html lang="en">

<head>
  <title>Full Stack</title>
  <meta name="My final project" content="full stack - project 7">
  <meta name="Joe Bateman" content="">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>

  <div id="app">
    <div v-cloak class="container col-5">

      <div id="login-signup-section" v-if="!loggedIn">
        <!-- sign up/log in button and form -->
        <div id="sign-up-form" class="form-group">

            <button @click="signupButtonClicked = true; loginButtonClicked = false" id="sign_up_btn"
              class="btn btn-secondary">Sign Up</button>
            <button @click="signupButtonClicked = false; loginButtonClicked = true" id="log_in_btn"
              class="btn btn-primary">Log in</button>

          <form v-show="(signupButtonClicked || loginButtonClicked)" action="">
            <label for="email">Email</label>
            <input type="email" v-model="email" id="email" class="form-control form-control-lg">
            <label for="password">Password</label>
            <input type="password" v-model="password" id="password" class="form-control form-control-lg">

            <button id="sign-up-button" v-show="signupButtonClicked" type="submit" @click.prevent="signup"
              class="btn btn-primary">Sign up</button>
            <button id="log-in-button" v-show="loginButtonClicked" type="submit" @click.prevent="login"
              class="btn btn-primary">Log in</button>
          </form>

        </div>

      </div>


      <!-- logged in home page -->
      <!-- this needs to be able to show show whether modify or post cicked -->
      <div id="logged-in-section" v-if="loggedIn">
        <button class="btn btn-secondary">Home</button>
        <button @click="createPostButtonClicked=true; modifyButtonClicked=false" id="create-post"
          class="btn btn-secondary">Create Post</button>
        <button @click="logout" id="logout" class="btn btn-secondary">logout</button>

        <div v-if="(modifyButtonClicked || createPostButtonClicked)" class="mt-3">
          <form enctype="multipart/form-data">

            <label for="writeCaption">Write a caption</label>
            <input type="text" id="writeCaption">
            <br>

            <label for="file_to_submit">Upload a gif</label>
            <input type="file" id="file_to_submit">
            <br>

            <button v-show="createPostButtonClicked" type="submit" @click.prevent="createPost"
              class="btn btn-primary">Create post</button>
            <button v-show="modifyButtonClicked" type="submit" @click.prevent="modifyPost"
              class="btn btn-primary">Modify
              post</button>
          </form>
        </div>

        <!-- logged in -->

        <div v-if="!createPostButtonClicked" v-show="!modifyButtonClicked" v-for="post in posts" class="card mt-5 bg-light border-0">
          <p class="p-2">{{ post.user_id }}</p>
          <h2 class="p-2">{{ post.caption }}</h2>
          <img :src="post.file_upload" alt="" class="mx-auto d-block img-fluid width: 100%">
          <div class="mt-2">
            <i class="far fa-comment-alt fa-lg pr-2"></i>
            <i class="far fa-thumbs-up fa-lg pr-2"></i>
          </div>

          <!-- these buttons should only show if the user has access to delete and modify. even if they show they should not be granted access -->
          <div class="user_options">
            <i :id="post.post_id" v-if="post.user_id === userId" @click="deletePost" class="delete far fa-trash-alt" style="cursor:pointer"> Delete</i>
            <i :id="post.post_id" v-if="post.user_id === userId" @click.prevent="postIdFunc" class="modify far fa-edit" style="cursor:pointer"> Edit</i>
          </div>
        </div>
        
      </div>

    </div>
  </div>

  <script src="https://kit.fontawesome.com/680635b0b6.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- do i need axios? -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        userId: '',
        email: '',
        password: '',
        posts: [],
        createPostResponse: [],
        loggedIn: false,
        signupButtonClicked: false,
        loginButtonClicked: true,
        createPostButtonClicked: false,
        modifyButtonClicked: false,
        postIdToModify: ''
      },
      mounted: function () {
        const logInBtn = document.getElementById('log_in_btn')
        const signUpBtn = document.getElementById('sign_up_btn')
        signUpBtn.onclick = () => {
          signUpBtn.classList.remove('btn-secondary')
          logInBtn.classList.add('btn-secondary')
          signUpBtn.classList.add('btn-primary')
        }
        logInBtn.onclick = () => {
          logInBtn.classList.remove('btn-secondary')
          signUpBtn.classList.add('btn-secondary')
          logInBtn.classList.add('btn-primary')
        }
      },
      methods: {
        postIdFunc: function () {
          this.postIdToModify = event.target.id;
          this.modifyButtonClicked = true;
          this.createPostButtonClicked = false
          // console.log(this.postIdToModify)
        },
        signup: async function () {
          //basic validation
          if (this.email === '' || this.password === '') {
            alert('Both fields must have values')
            return
          }

          try {
            const data = {
              email: this.email,
              password: this.password
            }
            const options = {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            };
            const request = await fetch('http://localhost:5001/signup', options);
            const response = await request.json();
            if (response.error) {
              alert(response.error)
            } else {
              this.signupButtonClicked = false
              await this.login()
            }
          } catch (error) {
            console.log(error)
          }
        },
        login: async function (email, password) {
          try {
            const data = {
              email: this.email,
              password: this.password
            }
            const options = {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data)
            };
            const request = await fetch('http://localhost:5001/login', options)
            const response = await request.json()
            if (response.error) {
              alert(response.error)
            }
            if (response.token !== undefined) {
              sessionStorage.setItem('jwt', JSON.stringify(response.token))
              sessionStorage.setItem('userId', JSON.stringify(response.userId))
              this.email = ''
              this.password = ''
              this.loggedIn = true

              const parsedUserId = JSON.parse(sessionStorage.getItem('userId'))
              this.userId = parsedUserId
              await this.fetchPosts()
            }
          } catch (error) {
            console.log(error)
          }
        },
        logout: function () {
          if (confirm('If you log out you will need to log in again')) {
            sessionStorage.removeItem('jwt');
            sessionStorage.removeItem('userId');
            this.loggedIn = false
            location.reload()
          }
        },
        fetchPosts: async function () {
          const token = JSON.parse(sessionStorage.getItem('jwt'))
          const options = {
            method: 'GET',
            headers: {
              'Authorization': `Bearer ${token}`
            }
          };
          const response = await fetch('http://localhost:5001', options)
          const jsonData = await response.json()
          vm.posts = jsonData
        },
        createPost: async function () {
          const token = JSON.parse(sessionStorage.getItem('jwt'))
          const userId = JSON.parse(sessionStorage.getItem('userId'))

          const caption = document.getElementById('writeCaption').value
          const file = document.getElementById('file_to_submit').files[0]

          if (caption !== '') {
            // console.log(file)
            const fd = new FormData()
            fd.append('myFile', file)
            fd.append('userId', userId)
            fd.append('caption', caption)

            const options = {
              method: 'POST',
              headers: {
                // 'Accept': 'application/json',
                // 'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
              },
              body: fd
            };

            const request = await fetch('http://localhost:5001/posts', options);
            const response = await request.json();
            if (response.error) {
              alert(response.error)
            }
            vm.createPostResponse = response
            this.createPostButtonClicked = false;
            await this.fetchPosts()
          }
        },
        modifyPost: async function () {
          const token = JSON.parse(sessionStorage.getItem('jwt'))
          // const userId = JSON.parse(sessionStorage.getItem('userId'))

          const caption = document.getElementById('writeCaption').value
          const file = document.getElementById('file_to_submit').files[0]
          const postId = this.postIdToModify;

          if (caption !== '') {
            // console.log(file)
            const fd = new FormData()
            fd.append('myFile', file)
            // fd.append('userId', userId)
            fd.append('caption', caption)
            fd.append('postId', postId)

            const options = {
              method: 'PUT',
              headers: {
                // 'Accept': 'application/json',
                // 'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
              },
              body: fd
            };

            const response = await fetch('http://localhost:5001/posts', options);
            const jsonResponse = await response.json();
            console.log(jsonResponse)
            if (jsonResponse.error) {
              alert(jsonResponse.error)
            }
            this.modifyButtonClicked = false
            await this.fetchPosts()
          }
        },
        deletePost: async function () {
          const postId = event.target.id;
          const token = JSON.parse(sessionStorage.getItem('jwt'))

          const data = {
            postId
          }

          const options = {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `Bearer ${token}`
            },
            body: JSON.stringify(data)
          };
          const request = await fetch('http://localhost:5001/posts', options)
          const jsonResponse = await request.json()
          if (jsonResponse.error) {
            alert(jsonResponse.error)
          } else {
            alert(jsonResponse.message)
          }
          await this.fetchPosts()
        }

      }
    })
  </script>

</body>

</html>