<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /* this prevents seeing line 24 on refresh */
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- <form v-show="!submitted" class="mt-5" action="">
                <div class="form-group">
                    <label for="email" Email></label>
                    <input type="email" v-model="email" class="form-control form-control-lg">
                </div>
                <button type="submit" @click.prevent="process" class="btn btn-primary">Submit</button>
            </form>
            <h2 v-show="submitted" v-cloak class="mt-5">Thanks for signing up!</h2> -->

            <!-- <img :src="imgSrc" :title="imgTitle"> -->
            <div class="card mt-5">
                <h2 class="card-header">Near Earth Objects</h2>
                <table class="table">
                    <thead class="thead-light">
                        <th>Name</th>
                        <th>Close Approach Date</th>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="a in asteroids">
                            <td>{{ a.name }}</td>
                            <td>{{ getDesignation(a) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                asteroids: [],
                email: 'josephabateman@yahoo.co.uk',
                submitted: false,
                // imgSrc: '',
                // imgTitle: ''
            },
            created: function () {
                this.fetchAsteroids()
            },
            methods: {
                fetchAsteroids: function () {
                    const nasaAPIKey = 'gsYGGnumyMBeRrWk9x0SeHi9YWtib1rwazkJVzYV'
                    const NasaUrl = 'https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=' + nasaAPIKey
                    axios.get(NasaUrl)
                        .then(function (res) {
                            vm.asteroids = res.data.near_earth_objects.slice(0, 10);
                            // vm.imgSrc = res.data.url;
                            // vm.imgTitle = res.data.title;
                        })
                },
                // process: function () {
                //     this.submitted = true;
                // },
                getDesignation: function(a) {
                    if (a.designation) {
                        return a.designation;
                    }
                    return 'n/a'
                }
            }
        })
    </script>

</body>

</html>