<!-- logged in home page -->
<!-- this needs to be able to show show whether modify or post cicked -->
<div id="logged-in-section" v-if="loggedIn">
    <button class="btn btn-secondary">Home</button>
    <button @click="createPostButtonClicked=true; modifyButtonClicked=false" id="create-post"
            class="btn btn-secondary">Create Post</button>
    <button @click="logout" id="logout" class="btn btn-secondary">logout</button>

    <div v-if="(modifyButtonClicked || createPostButtonClicked)" class="mt-3">
        <form enctype="multipart/form-data">

            <label for="writeCaption">Write a caption</label>
            <input type="text" id="writeCaption" v-model="modifyPostData.caption">
            <br>

            <label for="file_to_submit">Upload a gif</label>
            <input type="file" id="file_to_submit">
            <br>

            <button v-show="createPostButtonClicked" type="submit" @click.prevent="createPost"
                    class="btn btn-primary">Create post</button>
            <button v-show="modifyButtonClicked" type="submit" @click.prevent="modifyPost"
                    class="btn btn-primary">Modify
                post</button>
        </form>
    </div>

    <!-- logged in -->

    <div v-if="!createPostButtonClicked" v-show="!modifyButtonClicked" v-for="post in posts" class="card mt-5 bg-light border-0">
        <button @click="deleteUser">delete user account</button>
        <p id="convertedTime" class="p-2">{{ post.convertedTime }}</p>
        <h2 id="postCaption" class="p-2">{{ post.caption }}</h2>
        <img id="fileUploadImage" :src="post.file_upload" alt="" class="mx-auto d-block img-fluid width: 100%">
        <div id="social_icons" class="mt-2">
            <i class="far fa-comment-alt fa-lg pr-2" :id="post.post_id" @click.prevent="postComment"></i>
            <i class="far fa-thumbs-up fa-lg pr-2"></i>
        </div>
        <!--          <div class="card" :id=`comment_list_${post.post_id}`></div>-->
        <div v-for="comment in post.comments" class="card">
            <p>{{ comment.userId }} wrote: {{ comment.comment }}</p>
            <i :id="comment.commentId" v-if="comment.userId === userId" @click="deleteComment" class="delete far fa-trash-alt" style="cursor:pointer">Delete your comment</i>
        </div>
        <!-- these buttons should only show if the user has access to delete and modify. even if they show they should not be granted access -->
        <div class="user_options">
            <i :id="post.post_id" v-if="post.user_id === userId" @click="deletePost" class="delete far fa-trash-alt" style="cursor:pointer"> Delete</i>
            <i :id="post.post_id" v-if="post.user_id === userId" @click.prevent="postIdFunc" class="modify far fa-edit" style="cursor:pointer"> Edit</i>
        </div>
    </div>

</div>