<div id="login-signup-section" v-if="!loggedIn">
    <!-- sign up/log in button and form -->
    <div id="sign-up-form" class="form-group">

        <button @click="signupButtonClicked = true; loginButtonClicked = false" id="sign_up_btn"
                class="btn btn-secondary">Sign Up</button>
        <button @click="signupButtonClicked = false; loginButtonClicked = true" id="log_in_btn"
                class="btn btn-primary">Log in</button>

        <form v-show="(signupButtonClicked || loginButtonClicked)" action="">
            <label for="email">Email</label>
            <input type="email" v-model="email" id="email" class="form-control form-control-lg">
            <label for="password">Password</label>
            <input type="password" v-model="password" id="password" class="form-control form-control-lg">

            <button id="sign-up-button" v-show="signupButtonClicked" type="submit" @click.prevent="signup"
                    class="btn btn-primary">Sign up</button>
            <button id="log-in-button" v-show="loginButtonClicked" type="submit" @click.prevent="login"
                    class="btn btn-primary">Log in</button>
        </form>

    </div>

</div>